h1, p, #mainIMG, .mainCol, .noBullets {
	text-align: center;
}

p {
	line-height: 35px;
}

@media screen and (max-width: 768px) {
  .mainCol {
    padding-left: 30px;
  }
}

@media screen and (max-width: 768px) {
  .pmod {
    padding-top: 10px;
  }
}

.sideCol {
	background-color: #3AAFA9;
}

.mainCol {
	 background-color: #BBE1E0;
}

.navColor {
	background-color: #489B99;
}

.profLinks {
	text-decoration: none;
	color: black;
}

.noBullets {
	list-style-type: none;
}

.headers{
	padding: 20px;
}

.picIcons {
	height: 25px;
}

.mainIMG {
	border-radius: 50%;
	padding-bottom: 25px;
}
