
.sideCol {
	background-color: #878f99;
}

.mainCol {
	 background-color: #A2B9BC;
	 padding-bottom: 100px;
}

h1 {
	text-align: center;
}

.newColor {
	background-color: #B2AD7F;
}

img {
	border-radius: 50%;
	width: 100px;
	padding-bottom: 25px;
}

#mainIMG {
	text-align: center;
}

@media screen and (max-width: 768px) {
  .mainCol {
    padding-left: 30px;
  }
}

@media screen and (max-width: 768px) {
  .pmod {
    padding-top: 10px;
  }
}

.profLinks {
	text-decoration: none;
	color: black;
}

.noBullets {
	list-style-type: none;
}

p {
	line-height: 35px;

}
.headers{
	padding: 20px 20px 20px 20px;
}